<% @page_title = "Service | Fateme Esmailie" %>
<% @seo_keywords += @service_page['seo_keywords'] %>
<% @services.each { |r| @seo_keywords += (", " + r.title) } %>
<% @seo_description = @service_page['seo_description'] %>

<div class="container pt-3 pr-5 pl-5 pb-5">
  <div class="header-font text-center text-break">
    <%= @service_page['title'] %>
  </div>

  <% @services.each do |service| %>
    <div class="mt-5">
      <div>
        <div class="text-center h2 p-3 ml-5 mr-5 darkred upper">
          <%= service.title %>
        </div>
      </div>

      <div class="card-body reach-text">
        <%= service.body_area %>
      </div>

      <% if admin_signed_in? %>
        <div class="text-center">
          <%= link_to 'Edit', edit_service_path(service) %>
          <%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="container">
  <%= link_to 'New Service', new_service_path if admin_signed_in?%>
</div>

<%= render 'application/social_media' %>
