<%= stylesheet_link_tag "blogposts" %>
<% @page_title = @blog_page['title'] %>
<% @seo_keywords += @blog_page['seo_keywords'] %>
<% for blogpost in 0..7 do %>
  <% unless @blogposts[blogpost].nil? %>
    <% @seo_keywords += @blogposts[blogpost].title + ", " %>
  <% end %>
<% end %>
<% @seo_description =  @blog_page['seo_description'] %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="text-center text-break">
    <div class="header-font"><%= @blog_page['title'] %></div>
  </div>

  <div class="section-2">
    <div class="text-block-5"><%= "SALT LAKE CITY, UT - #{Date.today.strftime("%B %d, %Y")} - FATEME ESMAILIE" %></div>

    <div class="row p-5">

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 site-font">
          <% for blogpost in 0..1 do %>
            <% unless @blogposts[blogpost].nil? %>
              <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
                <div class="row-4">
                  <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                  <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                  <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 site-font">
        <% for blogpost in 2..3 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 site-font">
        <% for blogpost in 4..5 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3 site-font">
        <% for blogpost in 6..7 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4 no-border">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= paginate @blogposts %>
  <%= link_to 'New Blogpost', new_blogpost_path if admin_signed_in?%>
</div>

<%= render 'application/social_media' %>