<%= stylesheet_link_tag "blogposts" %>
<% @count = 0 %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="text-center">
    <div class="header-font">BLOGPOSTS</div>
  </div>

  <div class="section-2">
    <div class="text-block-5"><%= "SALT LAKE CITY, UT - #{Date.today.strftime("%B %d, %Y")} - FATEME ESMAILIE" %></div>

    <div class="row">


        <div class="col-3">
          <% @blogposts[0,4].each do |blogpost| %>
            <% if @count < 4 %>
              <div class="row-4">
                <h1 class="heading-2"><%= blogpost.title %></h1>
                <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6">When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary, I throw myself down among the tall grass by the trickling stream;and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies, then I feel the presence of the Almighty, who formed us in his own image, and the breath of that universal love which bears and sustains us, as it floats around us in an eternity of bliss; and then, my friend, when darkness overspreads my eyes, and heaven and earth seem to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often think with longing, Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!</div>
              </div>
              <% @count +=1 %>
            <% end %>
          <% end %>
        </div>

        <div class="col-3">
          <% @blogposts[5,8].each do |blogpost| %>
            <% if @count < 8 %>
              <div class="row-4">
                <h1 class="heading-2"><%= blogpost.title %></h1>
                <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= Faker::Lorem.sentence(word_count: rand(80..350)) %></div>
              </div>
              <% @count +=1 %>
            <% end %>
          <% end %>
        </div>

      <div class="col-3">
        <% @blogposts[9,12].each do |blogpost| %>
          <% if @count < 12 %>
            <div class="row-4">
              <h1 class="heading-2"><%= blogpost.title %></h1>
              <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
              <div class="text-block-6"><%= Faker::Lorem.sentence(word_count: rand(80..350)) %></div>
            </div>
            <% @count +=1 %>
          <% end %>
        <% end %>
      </div>

      <div class="col-3">
        <% @blogposts[13,16].each do |blogpost| %>
          <% if @count < 16 %>
            <div class="row-4 no-border">
              <h1 class="heading-2"><%= blogpost.title %></h1>
              <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
              <div class="text-block-6"><%= Faker::Lorem.sentence(word_count: rand(80..250)) %></div>
            </div>
            <% @count +=1 %>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
  <%= link_to 'New Blogpost', new_blogpost_path %>
  <br>
  <a href="">All right reserved <%= Date.today.strftime("%Y") %></a>
</div>