<%= stylesheet_link_tag "blogposts" %>
<% @page_title = "Blogposts | Fateme Esmailie" %>
<% @seo_keywords += "Blog, News, Mechanical Engineering, Heat Transfer, " %>
<% for blogpost in 0..15 do %>
  <% unless @blogposts[blogpost].nil? %>
    <% @seo_keywords += @blogposts[blogpost].title + ", " %>
  <% end %>
<% end %>
<% @seo_description = "My latest blogs where I share something interesting about Mechanical Engineering" %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="text-center text-break">
    <div class="header-font">BLOGPOSTS</div>
  </div>

  <div class="section-2">
    <div class="text-block-5"><%= "SALT LAKE CITY, UT - #{Date.today.strftime("%B %d, %Y")} - FATEME ESMAILIE" %></div>

    <div class="row p-5">

        <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
          <% for blogpost in 0..3 do %>
            <% unless @blogposts[blogpost].nil? %>
              <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
                <div class="row-4">
                  <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                  <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                  <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
                </div>
              </a>
            <% end %>
          <% end %>
        </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <% for blogpost in 4..7 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <% for blogpost in 8..11 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <% for blogpost in 12..15 do %>
          <% unless @blogposts[blogpost].nil? %>
            <a href="blogposts/<%= @blogposts[blogpost].id %>" class="blogpost">
              <div class="row-4 no-border">
                <h1 class="heading-2"><%= @blogposts[blogpost].title %></h1>
                <div class="text-block-7">posted <%= @blogposts[blogpost].created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= @blogposts[blogpost].body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= paginate @blogposts %>
  <%= link_to 'New Blogpost', new_blogpost_path if admin_signed_in?%>
</div>

<%= render 'application/social_media' %>