<%= stylesheet_link_tag "blogposts" %>
<% @count = 0 %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="text-center">
    <div class="header-font">BLOGPOSTS</div>
  </div>

  <div class="section-2">
    <div class="text-block-5"><%= "SALT LAKE CITY, UT - #{Date.today.strftime("%B %d, %Y")} - FATEME ESMAILIE" %></div>

    <div class="row">

        <div class="col-3">
          <% @blogposts[0,4].each do |blogpost| %>
            <% if @count < 4 %>
              <a href="blogposts/<%= blogpost.id %>" class="blogpost">
                <div class="row-4">
                  <h1 class="heading-2"><%= blogpost.title %></h1>
                  <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                  <div class="text-block-6"><%= blogpost.body_area.to_plain_text.first(rand(300..450))%>...</div>
                </div>
              </a>
              <% @count +=1 %>
            <% end %>
          <% end %>
        </div>

        <div class="col-3">
          <% @blogposts[5,8].each do |blogpost| %>
            <% if @count < 8 %>
              <a href="blogposts/<%= blogpost.id %>" class="blogpost">
                <div class="row-4">
                  <h1 class="heading-2"><%= blogpost.title %></h1>
                  <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                  <div class="text-block-6"><%= blogpost.body_area.to_plain_text.first(rand(300..450))%>...</div>
                </div>
              </a>
              <% @count +=1 %>
            <% end %>
          <% end %>
        </div>

      <div class="col-3">
        <% @blogposts[9,12].each do |blogpost| %>
          <% if @count < 12 %>
            <a href="blogposts/<%= blogpost.id %>" class="blogpost">
              <div class="row-4">
                <h1 class="heading-2"><%= blogpost.title %></h1>
                <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= blogpost.body_area.to_plain_text.first(rand(300..450))%>...</div>
              </div>
            </a>
            <% @count +=1 %>
          <% end %>
        <% end %>
      </div>

      <div class="col-3">
        <% @blogposts[13,16].each do |blogpost| %>
          <% if @count < 16 %>
            <a href="blogposts/<%= blogpost.id %>" class="blogpost">
              <div class="row-4 no-border">
                <h1 class="heading-2"><%= blogpost.title %></h1>
                <div class="text-block-7">posted <%= blogpost.created_at.strftime("%B %d, %Y") %></div>
                <div class="text-block-6"><%= blogpost.body_area.to_plain_text.first(rand(200..450))%>...</div>
              </div>
            </a>
            <% @count +=1 %>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
  <%= link_to 'New Blogpost', new_blogpost_path %>
  <br>
  <a href="">All right reserved <%= Date.today.strftime("%Y") %></a>
</div>