<%= stylesheet_link_tag "blogposts_show" %>
<%= stylesheet_link_tag "blogposts" %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="text-center underline_border mb-3">
    <div class="header-font"><%= @blogpost.title %></div>
  </div>
  <div class="container w-container">
    <img src="<%= url_for(@blogpost.main_image) %>" class="img-fluid" alt="Responsive image">
    <div class="div-block-7">
      <div class="text-block-8"><%= "posted: #{@blogpost.created_at.strftime("%B %d, %Y")}" %></div>
    </div>
    <div class="text-block-9"><%= @blogpost.body_area %></div>
    <div class="div-block-7">
      <div class="text-block-8">By Fateme Esmaile, 2019</div>
    </div>
  </div>

  <%= link_to 'Edit', edit_blogpost_path(@blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
</div>