<%= stylesheet_link_tag "blogposts_show" %>
<%= stylesheet_link_tag "blogposts" %>
<% @page_title = @blogpost.title + " | Fateme Esmailie" %>
<% @seo_keywords += "Blog, News, Mechanical Engineering, Heat Transfer, " %>
<% @seo_keywords += @blogpost.title %>
<% @seo_description = "My latest blogs where I share something interesting about Mechanical Engineering" %>

<div class="newspaper pt-3 pr-5 pl-5 pb-5">
  <div class="row container-fluid">

    <div class="col-12">
      <div class="div-block-7">
        <div class="text-block-8"><%= "posted: #{@blogpost.created_at.strftime("%B %d, %Y")}" %></div>
      </div>
    </div>

    <div class="col-8 no_padding">
      <div class="d-flex text-center sliderWrapper parallax-window" style="min-height: 70vh" data-parallax="scroll" data-image-src="<%= url_for(@blogpost.main_image) %>">
      </div>
    </div>

    <div class="col-4 text-center stick-me pt-5">
      <div class="header-font-show p-5"><%= @blogpost.title %></div>
      <%= link_to 'Back', blogposts_path, class: "btn btn-outline-dark" %>
    </div>

    <div class="col-8">
      <div class="reach-text p-5"><%= @blogpost.body_area %></div>
      <div class="div-block-7">
        <div class="text-block-8">By Fateme Esmaile, 2019</div>
      </div>
    </div>

  </div>

  <%= link_to 'Edit |', edit_blogpost_path(@blogpost) if admin_signed_in?%>
  <%= link_to 'Back', blogposts_path %>

  <div class="container">
    <div id="disqus_thread"></div>
  </div>
  <script>
      var disqus_config = function () {
          this.page.url = "<%= blogpost_url @blogpost.id %>";
          this.page.identifier = "blogpost_<%= @blogpost.id %>";
      };

      (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://my-portfolio-13.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>