<%= form_with(model: research, local: true) do |form| %>
  <% if research.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(research.errors.count, "error") %> prohibited this research from being saved:</h2>

      <ul>
        <% research.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div>
    <%= form.fields_for :publications do |publications_form| %>
      <%= render 'publication_fields', f:publications_form %>
    <% end %>

    <div>
      <%= link_to_add_association 'Add Publications', form, :publications %>
    </div>

  </div>

  <div class="field">
    <%= form.rich_text_area :body_area, id: :blog_body_area %>
  </div>

  <div class="field">
    <%= form.label"Upload Main Picture" %>
    <%= form.file_field :main_image, class: "m-4" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
