<div class="container">
  <div class="header-font text-center">
    My Projects
  </div>

  <div>
    <%= image_tag 'project.jpg', class: "img-fluid", style: "" %>
  </div>

      <% @researches.each do |research| %>
      <div class="mt-3 mb-3">
        <div class="row">
          <div class="col-3">
            <%= image_tag research.main_image.variant(combine_options: { resize: '^240', resize_to_fill: [240, 240] }), class: "img-fluid" %>
          </div>
          <div class="col-9">
            <div class="text-center upper underline_border upper_border mt-1 mb-1">
              <%= research.title %>
            </div>
            <div>
              <%= research.body_area.to_plain_text.first(500) %>...
            </div>
            <div class="actions text-center p-3">
              <%= link_to 'Show', research %></td>
              <%= link_to 'Edit', edit_research_path(research) %></td>
              <%= link_to 'Destroy', research, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
</div>

<br>

<%= link_to 'New Research', new_research_path %>
<%# research.publications.each do |p| %>
<!--        <p><%#= p.name %>, <%#= p.publisher %></p>-->
<%# end %>