<% @page_title = @research.title + " | Fateme Esmailie" %>
<% @seo_keywords += "Research, Projects" + ", #{@research.title}" %>
<% @seo_description = "My latest Research Projects and its explanation." %>

<div class="container pt-3 pr-5 pl-5 pb-5">

  <div class="header-font text-center text-break">
    <%= @research.title %>
  </div>
  <%= image_tag @research.main_image, class: "img-fluid" %>
  <div class="text-center upper underline_border upper_border mt-1 mb-1">
    <%= @research.created_at.strftime("%B %d, %Y") %>
  </div>

  <div class="mt-5 mb-5 reach-text">
    <%= @research.body_area %>
  </div>

  <div class="text-center m-5">
    <%= link_to 'Back', researches_path, class: 'btn btn-outline-dark btn-lg' %>
  </div>

  <% if @research.publications.count > 0 %>
    <div class="upper_border mt-1 mb-1">
      Publications:
      <ul>
        <% @research.publications.each do |p| %>
          <li><%= p.name %>, <%= p.publisher %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= link_to 'Edit', edit_research_path(@research) if admin_signed_in?%>
</div>

<div class="container">
  <div id="disqus_thread"></div>
</div>
<script>
    var disqus_config = function () {
        this.page.url = "<%= research_url @research.id %>";
        this.page.identifier = "research_<%= @research.id %>";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://my-portfolio-13.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>