<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publication.name %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @publication.publisher %>
</p>

<p>
  <strong>Research:</strong>
  <%= @publication.research_id %>
</p>

<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
