<%= javascript_include_tag 'admin_panel'%>

<div class="container mt-5 mb-5">
  <h1>Admin Panel</h1>
  <small id="emailHelp" class="form-text text-muted">Update site sections respectively. By changing this you will update site pages text.</small>
  <hr>


  <h3>Static pages settings</h3>
  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseHome" aria-expanded="false" aria-controls="collapseHome">
    Home Page
  </button>
  <div class="collapse p-3" id="collapseHome">
    <div class="card card-body">
      <h3>Home Page</h3>
      <form id="homePageForm">
        <div class="form-group home_page mt-3">
          <label for="nameInput">Header Name</label>
          <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" value="<%= @home_page['name'] %>">

          <label for="bioInput">Bio</label>
          <textarea class="form-control" id="bioInput" rows="5"><%= @home_page['about'] %></textarea>

          <label for="seoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="seoKeywordInput" aria-describedby="emailHelp" value="<%= @home_page['seo_keywords'] %>">

          <label for="seoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="seoDescriptionInput" rows="3"><%= @home_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseCV" aria-expanded="false" aria-controls="collapseCV">
    CV Page
  </button>

  <div class="collapse p-3" id="collapseCV">
    <div class="card card-body">
      <h3>CV Page</h3>
      <form id="cvPageForm">
        <div class="form-group cv_page mt-3">
          <label for="cvDocInput">Document link</label>
          <input type="text" class="form-control" id="cvDocInput" value="<%= @cv_page['doc'] %>">

          <label for="cvSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="cvSeoKeywordInput" aria-describedby="emailHelp" value="<%= @cv_page['seo_keywords'] %>">

          <label for="cvSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="cvSeoDescriptionInput" rows="3"><%= @cv_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseTeaching" aria-expanded="false" aria-controls="collapseTeaching">
    Teaching Page
  </button>

  <div class="collapse p-3" id="collapseTeaching">
    <div class="card card-body">
      <h3>Teaching Page</h3>
      <form id="teachingPageForm">
        <div class="form-group teaching_page mt-3">
          <label for="teachingTitleInput">Title</label>
          <input type="text" class="form-control" id="teachingTitleInput" value="<%= @teaching_page['title'] %>">

          <label for="teachingSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="teachingSeoKeywordInput" aria-describedby="emailHelp" value="<%= @teaching_page['seo_keywords'] %>">

          <label for="teachingSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="teachingSeoDescriptionInput" rows="3"><%= @teaching_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>


  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseResearch" aria-expanded="false" aria-controls="collapseResearch">
    Research Page
  </button>

  <div class="collapse p-3" id="collapseResearch">
    <div class="card card-body">
      <h3>Research Page</h3>
      <form id="researchPageForm">
        <div class="form-group research_page mt-3">
          <label for="researchTitleInput">Title</label>
          <input type="text" class="form-control" id="researchTitleInput" aria-describedby="emailHelp" value="<%= @research_page['title'] %>">

          <label for="researchAboutInput">About</label>
          <textarea class="form-control" id="researchAboutInput" rows="5"><%= @research_page['about'] %></textarea>

          <label for="researchSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="researchSeoKeywordInput" aria-describedby="emailHelp" value="<%= @research_page['seo_keywords'] %>">

          <label for="researchSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="researchSeoDescriptionInput" rows="3"><%= @research_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseService" aria-expanded="false" aria-controls="collapseService">
    Service Page
  </button>

  <div class="collapse p-3" id="collapseService">
    <div class="card card-body">
      <h3>Service Page</h3>
      <form id="servicePageForm">
        <div class="form-group service_page mt-3">
          <label for="serviceTitleInput">Title</label>
          <input type="text" class="form-control" id="serviceTitleInput" value="<%= @service_page['title'] %>">

          <label for="serviceSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="serviceSeoKeywordInput" aria-describedby="emailHelp" value="<%= @service_page['seo_keywords'] %>">

          <label for="serviceSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="serviceSeoDescriptionInput" rows="3"><%= @service_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseBlog" aria-expanded="false" aria-controls="collapseBlog">
    Blog Page
  </button>

  <div class="collapse p-3" id="collapseBlog">
    <div class="card card-body">
      <h3>Blog Page</h3>
      <form id="blogPageForm">
        <div class="form-group blog_page mt-3">
          <label for="blogTitleInput">Title</label>
          <input type="text" class="form-control" id="blogTitleInput" value="<%= @blog_page['title'] %>">

          <label for="blogSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="blogSeoKeywordInput" aria-describedby="emailHelp" value="<%= @blog_page['seo_keywords'] %>">

          <label for="blogSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="blogSeoDescriptionInput" rows="3"><%= @blog_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
    Contact Page
  </button>

  <div class="collapse p-3" id="collapseContact">
    <div class="card card-body">
      <h3>Contact Page</h3>
      <form id="contactPageForm">
        <div class="form-group contact_page mt-3">
          <label for="contactTitleInput">Title</label>
          <input type="text" class="form-control" id="contactTitleInput" aria-describedby="emailHelp" value="<%= @contact_page['title'] %>">

          <label for="contactAboutInput">About</label>
          <textarea class="form-control" id="contactAboutInput" rows="5"><%= @contact_page['about'] %></textarea>

          <label for="contactSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="contactSeoKeywordInput" aria-describedby="emailHelp" value="<%= @contact_page['seo_keywords'] %>">

          <label for="contactSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="contactSeoDescriptionInput" rows="3"><%= @contact_page['seo_description'] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-3 p-4">
    <h3>Google Scholar</h3>
    Ask dev when it needs to be developed
  </div>
</div>

<%= Faraday.get('https://scholar.google.com/citations?user=0wPISvEAAAAJ&hl=en').body %>