<%= javascript_include_tag 'admin_panel' %>

<div class="container mt-5 mb-5">
  <h1>Admin Panel</h1>
  <small id="emailHelp" class="form-text text-muted">Update site sections respectively. By changing this you will update site pages text.</small>
  <hr>

  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseHome" aria-expanded="false" aria-controls="collapseHome">
    Home Page
  </button>
  <div class="collapse p-3" id="collapseHome">
    <div class="card card-body">
      <h3>Home Page</h3>
      <form id="homePageForm">
        <div class="form-group home_page mt-3">
          <label for="nameInput">Header Name</label>
          <input type="text" class="form-control" id="nameInput" aria-describedby="emailHelp" value="<%= t(:home_page)[:name] %>">

          <label for="bioInput">Bio</label>
          <textarea class="form-control" id="bioInput" rows="5"><%= t(:home_page)[:about] %></textarea>

          <label for="seoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="seoKeywordInput" aria-describedby="emailHelp" value="<%= t(:home_page)[:seo_keywords] %>">

          <label for="seoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="seoDescriptionInput" rows="3"><%= t(:home_page)[:seo_description] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>


  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseResearch" aria-expanded="false" aria-controls="collapseResearch">
    Research Page
  </button>

  <div class="collapse p-3" id="collapseResearch">
    <div class="card card-body">
      <h3>Research Page</h3>
      <form id="researchPageForm">
        <div class="form-group research_page mt-3">
          <label for="researchTitleInput">Title</label>
          <input type="text" class="form-control" id="researchTitleInput" aria-describedby="emailHelp" value="<%= t(:research_page)[:title] %>">

          <label for="researchAboutInput">About</label>
          <textarea class="form-control" id="researchAboutInput" rows="5"><%= t(:research_page)[:about] %></textarea>

          <label for="researchSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="researchSeoKeywordInput" aria-describedby="emailHelp" value="<%= t(:research_page)[:seo_keywords] %>">

          <label for="researchSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="researchSeoDescriptionInput" rows="3"><%= t(:research_page)[:seo_description] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>


  <button class="btn btn-primary btn-block mt-3" type="button" data-toggle="collapse" data-target="#collapseContact" aria-expanded="false" aria-controls="collapseContact">
    Contact Page
  </button>

  <div class="collapse p-3" id="collapseContact">
    <div class="card card-body">
      <h3>Contact Page</h3>
      <form id="contactPageForm">
        <div class="form-group contact_page mt-3">
          <label for="contactTitleInput">Title</label>
          <input type="text" class="form-control" id="contactTitleInput" aria-describedby="emailHelp" value="<%= t(:contact_page)[:title] %>">

          <label for="contactAboutInput">About</label>
          <textarea class="form-control" id="contactAboutInput" rows="5"><%= t(:contact_page)[:about] %></textarea>

          <label for="contactSeoKeywordInput">SEO Keywords</label>
          <input type="text" class="form-control" id="contactSeoKeywordInput" aria-describedby="emailHelp" value="<%= t(:contact_page)[:seo_keywords] %>">

          <label for="contactSeoDescriptionInput">SEO Description</label>
          <textarea class="form-control" id="contactSeoDescriptionInput" rows="3"><%= t(:contact_page)[:seo_description] %></textarea>

          <input type="submit" class="btn btn-warning mt-3">
        </div>
      </form>
    </div>
  </div>


</div>

<script type="text/javascript" charset="utf-8">
</script>