<% @first = true %>
<% @page_title = "Teaching | Fateme Esmailie" %>
<% @seo_keywords += @teaching_page['seo_keywords'] %>
<% @teachings.each { |r| @seo_keywords += (", " + r.title) } %>
<% @seo_description = @teaching_page['seo_description'] %>


<div class="container-font pt-3 pr-5 pl-5">
  <div class="header-font text-center text-break">
    <%= @teaching_page['title'] %>
  </div>
</div>
<div class="container pb-5">


  <div>
    <%= image_tag 'teaching.jpg', class: "img-fluid" %>
  </div>

  <div class="accordion mt-3" id="accordionTeaching">
    <% @teachings.each do |teaching| %>
      <div class="card">
        <div class="card-header" id="heading<%= teaching.id.to_s %>">
          <h2 class="mb-0">
            <button
              class="btn btn-link upper no-decoration"
              type="button" data-toggle="collapse"
              data-target="#collapse<%= teaching.id.to_s %>"
              aria-expanded="true"
              aria-controls="collapseOne">
              <h3 class="darkred flash-me">>> <%= teaching.title %></h3>
            </button>
          </h2>
        </div>

        <div
          id="collapse<%= teaching.id.to_s %>"
          class="collapse <%= "show" if @first %>"
          aria-labelledby="heading<%= teaching.id.to_s %>"
          data-parent="#accordionTeaching">

          <% if teaching.video.attached? %>
            <div class="embed-responsive embed-responsive-16by9">
              <%= video_tag rails_blob_path(teaching.video), controls: true, class: 'p-3' %>
            </div>
          <% end %>

          <div class="card-body reach-text">
            <%= teaching.body_area %>
          </div>
        </div>
      </div>

      <% if admin_signed_in? %>
        <div>
          <%= link_to 'Edit', edit_teaching_path(teaching) %>
          <%= link_to 'Destroy', teaching, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      <% end %>
      <% @first = false %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= link_to 'New Teaching', new_teaching_path if admin_signed_in?%>
</div>

<%= render 'application/social_media' %>

<script type="text/javascript" charset="utf-8">
  $('.flash-me')
</script>