<% @first = true %>
<% @page_title = "Teaching | Fateme Esmailie" %>
<% @seo_keywords += t(:teaching_page)[:seo_keywords] %>
<% @teachings.each { |r| @seo_keywords += (", " + r.title) } %>
<% @seo_description = t(:teaching_page)[:seo_description] %>

<div class="container pt-3 pr-5 pl-5 pb-5">
  <div class="header-font text-center text-break">
    <%= t(:teaching_page)[:title] %>
  </div>

  <div class="accordion mt-3" id="accordionTeaching">
    <% @teachings.each do |teaching| %>
      <div class="card">
        <div class="card-header" id="heading<%= teaching.id.to_s %>">
          <h2 class="mb-0">
            <button
              class="btn btn-link upper no-decoration"
              type="button" data-toggle="collapse"
              data-target="#collapse<%= teaching.id.to_s %>"
              aria-expanded="true"
              aria-controls="collapseOne">
              <%= teaching.title %>
            </button>
          </h2>
        </div>

        <div
          id="collapse<%= teaching.id.to_s %>"
          class="collapse <%= "show" if @first %>"
          aria-labelledby="heading<%= teaching.id.to_s %>"
          data-parent="#accordionTeaching">
          <div class="card-body reach-text">
            <%= teaching.body_area %>
          </div>
        </div>
      </div>
      <% @first = false %>
    <% end %>
  </div>
</div>

<div class="container">
  <%= link_to 'New Teaching', new_teaching_path if admin_signed_in?%>
</div>