<nav class="site-header sticky-top py-1">
  <div class="container col-8 d-flex flex-column flex-md-row justify-content-between">
    <a class="p-2 d-none d-md-inline-block upper" href="/">Home</a>
    <%= link_to "CV", cvs_path, class: "py-2 d-none d-md-inline-block upper" %>
    <%= link_to "Teaching", teachings_path, class: "py-2 d-none d-md-inline-block upper" %>
    <%= link_to "Research", researches_path, class: "py-2 d-none d-md-inline-block upper" %>
    <%= link_to "Service", services_path, class: "py-2 d-none d-md-inline-block upper" %>
    <%= link_to "Blogs", blogposts_path, class: "py-2 d-none d-md-inline-block upper" %>
    <a class="py-2 d-none d-md-inline-block upper" href="/contacts">Contact Me</a>
    <% if admin_signed_in? %>
      <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "py-2 d-none d-md-inline-block upper" %>
    <% else %>
      <%= link_to "Login", new_admin_session_path, class: "py-2 d-none d-md-inline-block upper" %>
      <%= link_to "Register", new_admin_registration_path, class: "py-2 d-none d-md-inline-block upper" if Admin.count == 0%>
    <% end %>
  </div>
</nav>

<style>
  nav {
    background: #333333;
  }

  a {
    text-decoration: none !important;
    color: #CCCCCC;
    font-size: 25px;
  }

  a:hover {
    color: #0099EA;
  }
</style>