<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= @page_title %></title>
    <meta name="keywords" content="<%= @seo_keywords %>">
    <meta name="description" content="<%= @seo_description %>">
    <%= Gon::Base.render_data %>
    <%= include_gon %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body data-turbolinks="false">
  <%= render 'application/navbar_2' %>

  <% if notice || alert %>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <% end %>

  <%= yield %>
  <div class="text-center">
    © <%= Date.today.strftime("%Y")%> Fateme Esmailie All Rights Reserved
  </div>
  <script id="dsq-count-scr" src="//my-portfolio-13.disqus.com/count.js" async></script>
  </body>
</html>
